.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
django_hotels/db.sqlite3

venv


prod_settings.py
local_settings.py

django_hotel/hotels/migrations/__init__.py
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc



log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev